body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: #222025;
}
label {
  color: #F3F2F4;
}
.main-app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 5px;
}
.user-profile-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 15px;
}
.user-avatar-container {
  flex: 0 0 auto;
  width: 150px;
  align-self: center;
  padding: 5px;
}
.user-avatar {
  border-radius: 50%;
  border: none;
  padding: 0;
}
.user-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1 1 auto;
  padding-left: 10px;
  flex-wrap: wrap;
  height: 50px;
}
